.hud-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
}

.clock-board {
  font-size: 50px;
  display: flex;
  flex-flow: row;
  height: 60px;

  div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.clock {
  background-color: rgba(0, 0, 0, 0.5);
  width: 120px;
}

.goal {
  width: 60px;
}

.goal.orange {
  background-color: rgba(255, 116, 0, 0.5);
  border-bottom-left-radius: 8px;
}

.goal.blue {
  background-color: rgba(37, 107, 255, 0.5);
  border-bottom-right-radius: 8px;
}
