<div class="playback-control-div">
  <button mat-icon-button (click)="playClick()" [matTooltip]="isPlaying ? 'Pause' : 'Play'">
    <mat-icon>{{isPlaying ? 'pause' : 'play_arrow'}}</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="playbackSpeedMenu" matTooltip="Playback speed">
    <mat-icon>speed</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="cameraMenu" matTooltip="Camera">
    <mat-icon>videocam</mat-icon>
  </button>
  <ng5-slider
    class="time-slider"
    [options]="sliderOptions"
    [(value)]="currentTime"
    (userChangeStart)="slideStart()"
    (userChangeEnd)="slideEnd()"
    (userChange)="slideChange($event)"
  ></ng5-slider>
</div>

<mat-menu #playbackSpeedMenu="matMenu">
  <button *ngFor="let speed of playbackSpeeds" mat-menu-item (click)="setSpeed(speed)">
    <mat-icon *ngIf="speed === selectedSpeed">radio_button_checked</mat-icon>
    <mat-icon *ngIf="speed !== selectedSpeed">radio_button_unchecked</mat-icon>
    <span>{{speed}}</span>
  </button>
</mat-menu>

<mat-menu #cameraMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="playerCameraMenu">Player</button>
  <button mat-menu-item (click)="setCameraOrbital()">Orbital</button>
</mat-menu>

<mat-menu #playerCameraMenu="matMenu">
  <button *ngFor="let player of players" mat-menu-item (click)="setPlayerCamera(player.id)">{{player.name}}</button>
</mat-menu>
