.playback-control-div {
  width: 100%;
  display: flex;
  flex-flow: row;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;

  .time-slider {
    flex-grow: 1;
    margin-top: 15px;
  }

  .play-button {
    margin-right: 16px;
  }
  .more-button {
    margin-left: 16px;
  }
}
