<div class="playback-container">
  <div class="playback-control-div">
    <button mat-icon-button (click)="playClick()" [matTooltip]="isPlaying ? 'Pause' : 'Play'">
      <mat-icon>{{isPlaying ? 'pause' : 'play_arrow'}}</mat-icon>
    </button>
    <button class="no-mobile" mat-icon-button [matMenuTriggerFor]="playbackSpeedMenu" matTooltip="Playback speed">
      <mat-icon>speed</mat-icon>
    </button>
    <button class="no-mobile" mat-icon-button [matMenuTriggerFor]="cameraMenu" matTooltip="Camera">
      <mat-icon>videocam</mat-icon>
    </button>
    <button class="no-mobile" mat-icon-button [matMenuTriggerFor]="moreMenu" matTooltip="More">
      <mat-icon>more_vert</mat-icon>
    </button>
    <ng5-slider
      class="time-slider"
      [options]="sliderOptions"
      [(value)]="currentTime"
      (userChangeStart)="slideStart()"
      (userChangeEnd)="slideEnd()"
      (userChange)="slideChange($event)"
    ></ng5-slider>
  </div>
  <div class="mobile-only mobile-more-div" [matMenuTriggerFor]="mobileMenu">
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>

<mat-menu #mobileMenu>
  <button mat-menu-item [matMenuTriggerFor]="playbackSpeedMenu"> Playback speed</button>
  <button mat-menu-item [matMenuTriggerFor]="cameraMenu"> Camera</button>
  <button mat-menu-item (click)="closeReplay()">Close replay</button>
  <a mat-menu-item href="https://discord.gg/RqXF9Uu" target="_blank">Discord</a>
  <a mat-menu-item href="https://github.com/Longi94/rocket-viewer" target="_blank">GitHub</a>
  <button mat-menu-item (click)="openAbout()">About</button>
</mat-menu>

<mat-menu #moreMenu>
  <button mat-menu-item (click)="closeReplay()">Close replay</button>
  <a mat-menu-item href="https://discord.gg/RqXF9Uu" target="_blank">Discord</a>
  <a mat-menu-item href="https://github.com/Longi94/rocket-viewer" target="_blank">GitHub</a>
  <button mat-menu-item (click)="openAbout()">About</button>
</mat-menu>

<mat-menu #playbackSpeedMenu="matMenu">
  <button *ngFor="let speed of playbackSpeeds" mat-menu-item (click)="setSpeed(speed)">
    <mat-icon *ngIf="speed === selectedSpeed">radio_button_checked</mat-icon>
    <mat-icon *ngIf="speed !== selectedSpeed">radio_button_unchecked</mat-icon>
    <span>{{speed}}</span>
  </button>
</mat-menu>

<mat-menu #cameraMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="playerCameraMenu">Player</button>
  <button mat-menu-item (click)="setCameraOrbital()">Orbital</button>
  <button mat-menu-item [matMenuTriggerFor]="vrMenu">VR</button>
</mat-menu>

<mat-menu #playerCameraMenu="matMenu">
  <button *ngFor="let player of players" mat-menu-item (click)="setPlayerCamera(player.id)">{{player.name}}</button>
</mat-menu>

<mat-menu #vrMenu>
  <button mat-menu-item [disabled]="!vrSupported" (click)="enterVR()">{{vrButtonText}}</button>
</mat-menu>
