<div class="canvas-container" #canvasContainer>
  <canvas #canvas></canvas>
</div>

<div class="full-overlay" [style.display]="isLoading ? null : 'none'">
  <span>Loading {{mathRound(progress.percent * 100) / 100}}%</span>
  <mat-progress-bar mode="determinate" [value]="progress.percent" color="primary"></mat-progress-bar>
</div>

<div class="debug-overlay" *ngIf="isDebug">
  <span>maxtime: {{sceneManager.maxTime}}</span>
  <span>animtime: {{sceneManager.currentAnimationTime}}</span>
  <span>frame: {{sceneManager.currentFrame}}</span>
  <span>time: {{sceneManager.currentTime}}</span>
</div>
