<div class="canvas-container" #canvasContainer>
  <canvas #canvas></canvas>
</div>

<div class="full-overlay" [style.display]="isLoading ? null : 'none'">
  <span>Loading {{progress.current - progress.start}}/{{progress.total - progress.start}}</span>
  <mat-progress-bar mode="determinate" [value]="progress.percent" color="primary"></mat-progress-bar>
</div>

<div class="debug-overlay" *ngIf="isDebug">
  <span>maxtime: {{sceneManager.playbackInfo.maxTime}}</span>
  <span>mintime: {{sceneManager.playbackInfo.minTime}}</span>
  <span>animtime: {{sceneManager.currentAnimationTime}}</span>
  <span>frame: {{sceneManager.currentFrame}}</span>
  <span>time: {{sceneManager.currentTime}}</span>
  <span>ballframe: {{sceneManager.ballFrame}}</span>
  <span *ngIf="sceneManager.rs.ball_actor">
    ballpos:
    {{sceneManager.rs.ball_actor.body.position.x | number}}
    {{sceneManager.rs.ball_actor.body.position.y | number}}
    {{sceneManager.rs.ball_actor.body.position.z | number}}
  </span>
  <span *ngIf="sceneManager.rs.ball_actor">ballvel: {{sceneManager.getBallSpeed() | number}}</span>
  <div class="player-debug-overlay" *ngFor="let player of sceneManager.playbackInfo.players">
    <span>name: {{player.name}}</span>
    <span>frame: {{sceneManager.playerFrames[player.id]}}</span>
    <span *ngIf="sceneManager.rs.players[player.id]">position:
      {{sceneManager.rs.players[player.id].body.position.x | number}}
      {{sceneManager.rs.players[player.id].body.position.y | number}}
      {{sceneManager.rs.players[player.id].body.position.z | number}}
    </span>
    <span *ngIf="sceneManager.rs.players[player.id]">velocity: {{sceneManager.getPlayerSpeed(player.id) | number}}</span>
  </div>
</div>

<div class="stats-container" #statsDiv></div>
