.upload-div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  font-size: 16px;
}

.upload-div span {
  margin-bottom: 8px;
}

.error-div {
  margin-top: 16px;
  color: lightcoral;
}
