<div class="main-container">
  <div class="upload-div" (drop)="onFileDrop($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)"
       (dragover)="onDragOver($event)" *ngIf="!replayLoaded">
    <span>Drop a replay file into the page...</span>
    <span>or</span>
    <input #replayInput hidden type="file" onclick="this.value=null" (change)="onFileSelect($event)"
           accept=".replay"/>
    <button mat-raised-button color="accent" (click)="replayInput.click()">Choose one from your computer</button>
    <div class="error-div" *ngIf="errorMessage != undefined">
      <span>{{errorMessage}}</span>
    </div>
  </div>
  <div class="playback-control-div" *ngIf="replayLoaded">
    <app-playback-control></app-playback-control>
  </div>
  <app-canvas></app-canvas>
</div>
