<div class="main-container">
  <div class="upload-div" (drop)="onFileDrop($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)"
       (dragover)="onDragOver($event)" *ngIf="!replayLoaded">
    <span>Drop a replay file into the page...</span>
    <span>or</span>
    <button mat-raised-button color="accent">Choose one from your computer</button>
    <div class="error-div" *ngIf="errorMessage != undefined">
      <span>{{errorMessage}}</span>
    </div>
  </div>
  <app-canvas></app-canvas>
</div>
