@import "../../../../theme";

.main-container {
  height: 100%;
  width: 100%;
}

.upload-div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.51);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  font-size: 16px;
  z-index: 500;

  span {
    margin-bottom: 8px;
  }

  span.title {
    margin-bottom: 0;
  }
}

.error-div {
  margin-top: 16px;
  color: lightcoral;
}

.playback-control-div {
  z-index: 500;
  position: absolute;
  bottom: 0;
  width: 100%;

  @include tablet-down {
    height: 100%;
    pointer-events: none;
  }
}

.hud-div {
  z-index: 450;
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vr-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;

  svg {
    width: 128px;
    height: 128px;
  }
}

.title {
  font-family: Rajdhani, sans-serif;
  font-size: 72px;
  line-height: 64px;

  @include tablet-down {
    font-size: 56px;
    line-height: 48px;
  }
}

.link-container {
  display: flex;
  flex-flow: row;
  margin-bottom: 32px;

  * svg {
    width: 24px;
    height: 24px;
  }

  @include tablet-down {
    font-size: 56px;
    line-height: 48px;
  }
}
