.main-container {
  height: 100%;
  width: 100%;
}

.upload-div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.51);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  font-size: 16px;
  z-index: 1000;
}

.upload-div span {
  margin-bottom: 8px;
}

.error-div {
  margin-top: 16px;
  color: lightcoral;
}
